body {
	font-family: arial;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	gap: 3%;
	height: 55px;
	padding-left: 2em;
	padding-right: 50px;
	background-color: #ffe8d6;
	border-bottom: 2px solid black;
	z-index: 1000;
}

/*Classes comuns*/


/*Apartat del header*/
.selections-header, .selections-footer {
	display: flex;
	align-items: center;
	gap: 5%;
	width: 65%;
}

.site-section-button {
	font-size: 1.1rem;
	text-decoration: none;
	color: black;
}

.site-section-button:hover {
	padding-top: 1%;
	padding-bottom: 1%;
	color: #bdbba8;
	border-bottom: 3px solid #bdbba8;
}

.header-menu {
	display: none;
	cursor: pointer;
}

/*Recepta principal*/
.main-recipe {
	display: flex;
	font-size: 1.2rem;
	font-weight: bold;
	justify-content: flex-start;
	padding-left: 10%;
	align-items: center;
	height: 600px;
	background-image: url(https://lipsum.app/2000x600/edede8/dcdcd7);
}

h1 {
	margin-top: -4%;
	margin-bottom: 4%;
	font-size: 4rem;
	font-weight: normal;
}

.seerecipe-button {
	color: #cc9c82;
	border: 2px solid #cc9c82;
	border-radius: 20px;
	padding: 2%;
	width: 125px;
	background-color: transparent;
	cursor: pointer;
}

/*Apartat de categories*/
#categories {
	display: flex;
	justify-content: flex-start;
	height: 65px;
	padding-top: 1%;
	padding-left: 5%;
	width: 90%;
	align-items: center;
}

.caregory-viewing-text {
	padding: 10px;
	padding-right: 100px;
	font-size: 1.3rem;
	color: #a6a6a6;
}

.categorylist {
	display: flex;
	gap: 10%;
}

.category-individual {
	color: black;
	border: none;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
}

/*Apartat de receptes més recents*/
.section-titles {
	margin-left: 8%;
	margin-top: 5%;
	font-size: 3rem;
	font-weight: normal;
	margin-bottom: 6%;
}

#latest-recipes-section {
	display: flex;
	justify-content: center;
	gap: 34px;
	align-items: center;
	margin-bottom: 65px;
	margin-left: 5%;
	margin-right: 5%;	
}

.latest-recipes img {
		width: 100%;
}

.latest-recipes h3 {
		font-size: 2rem;
		font-weight: normal;
		margin-bottom: 0;
}

/*Apartat de l'email*/
.email {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	gap: 5%;
	border-radius: 40px;
	padding: 6%;
	height: auto;
	background-color: #cb997e;
}

.email-input {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 5%;
}
.email-input button {
		height: 45px;
		width: auto;
		padding-left: 10%;
		padding-right: 10%;
		border-radius: 20px;
		margin-left: -80px;
		background-color: #ffe8d6;
		border: none;
}

.email-input button:hover {
		background-color: #eed7c5;
		cursor: pointer;
}

.email-input button:active {
		background-color: #ddc6b4;
		cursor: pointer;
}

.email-text-input {
		background-color: transparent;
		height: 40px;
		width: 90%;
		padding-left: 2%;
		font-size: 1.2rem;
		border-radius: 20px;
		color: black;
		border: 1px solid #ddbea9;	
}

.email-text {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
}

.email-text h3 {
		font-size: 2rem;
		font-weight: normal;
		margin: 0;
}

/*Apartat de les receptes més populars*/
.popular-recipes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: 5%;
	margin-right: 5%;
	gap: 3%;
}

.recipe-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url(https://lipsum.app/640x480/f4eae5/cb997e);
	background-position: center;
	margin-bottom: 1em;
	padding: 0.5em;
	width: 100%;
	height: 550px;	
}

.recipe-box h3 {
		font-weight: normal;
		font-size: 2rem;
		margin-top: 0;
		padding-bottom: 20px;
}

.recipe-box p {
		font-weight: bolder;
		margin-bottom: 0;
}

/*Autor*/
.author {
	display: flex;
	justify-content: flex-start;
	padding-left: 10%;
	height: 50%;
	align-items: center;
	gap: 10%;
	background-color: #ddbea9;
	padding-right: 12%;
}

.author h3 {
		font-size: 3rem;
		margin-top: 0;
		margin-bottom: 0;
}

.author p {
		margin-top: 0;
}

.author img {
		max-width: 300px;
		width: 100%;
		padding: 1em;
}

/*Footer*/
footer {
	padding: 5%;
	height: 10%;
	background-color: #ffe8d6;
}

.inner-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*Apartat de media queries*/
@media (max-width: 1200px) {
	#latest-recipes-section {
		flex-direction: column;
	}

}

@media (max-width: 865px) {

	.header-menu {
		display: block;
	}

	.pfp {
		display: none;
	}

	.selections-header {
		display: none;
	}

	#categories {
		flex-direction: column;
		text-align: center;
		align-items: center;
		height: auto;
	}

	.categorylist {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.category-individual {
		padding: 5%;
	}	

	.latest-recipes {
		width: auto;
	}

	.email {
		flex-direction: column;
		height: auto;
		padding: 9%;
	}

	.email-text {
		padding-bottom: 10%;
		width: auto;
	}

	.popular-recipes {
		flex-direction: column;
		align-items: center;
	}

	.author {
		flex-direction: column;
		height: auto;
		padding-top: 2%;
	}

	.outer-footer, .inner-footer, .selections-footer {
		display: flex;
		margin-bottom: 35px;
		margin-top: 40px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: auto;
	}

	.selections-footer {
		gap: 30px;
		height: 100%;
	}

	.site-section-button:hover {
		border-bottom: none;
		border-left: 3px solid #bdbba8;
		padding-left: 15px;
		padding-right: 15px;
	}

	footer {
		height: auto;
	}
}